<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender Homepage</title>
</head>
<body>
    <h1> {{ title }} </h1>
    <p>Here you will find the most <b>incredible</b> movie recommendations in the world</p>
    <p>Click <a href = '/recommendations'>here</a> to find the recommendations!</p>
    <form action = "/recommendations">
    <p>Please rate the following movies on a scale of 0 to 5:</p>
Movie 1:
  <input type = "text" name = "movie1" placeholder = "0 - 5">
Movie 2:
  <input type = "text" name = "movie2" placeholder = "0 - 5">
Movie 3:
  <input type = "text" name = "movie3" placeholder = "0 - 5">
  <input type = "submit">
</form>
</body>
</html>
