<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender Homepage</title>
</head>
<body>
    <h1>Here are your recommendations</h1>
    <img src = "{{ url_for('static', filename='movie_night.jpeg')}}", width=500>
    <ul>
        {% for m in movies %}
        <li> {{ m }} </li>
        {% endfor %}
    </ul>

    <ul>
        {% for k in votes %}
        <li> {{ k }} {{ votes[k] }} </li>
        {% endfor %}
    </ul>
</body>
